@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    background-color: #ebf4f2;
}

#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    gap: 10px;
    border-radius: 15px;
}

.name-surname{
    display: grid;
    height: 50px;
    grid-template-columns: 50% 50%;
    row-gap: 5px;
    grid-template-rows: 30% 70%;
    color: #92aaa5;
}



.name-surname input{
    border: none;
    border-radius: 7px;
    background-color: #ebf4f2;
    width: 80%;
    height: 100%;
}

.over-input{
    font-size: 14px;
}




